<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Cab</title>
</head>
<body>

    <h1>Edit Cab</h1>

    <form action="/traveller/update-cab" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${cab.id}">
        
        <label for="name">Cab Name:</label>
        <input type="text" name="name" th:value="${cab.name}" required><br><br>

        <label for="type">Cab Type:</label>
        <input type="text" name="type" th:value="${cab.type}" required><br><br>

        <label for="description">Description:</label>
        <textarea name="description" required th:text="${cab.cabDescription}"></textarea><br><br>

        <label for="image">Image:</label>
        <input type="file" name="image"><br><br>

        <button type="submit">Update Cab</button>
    </form>

</body>
</html>
